body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg,lightblue,darkblue);
    overflow: hidden;
}


.fogueteiro
{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 100vh;
    margin-top: -80px;
}